@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;500&display=swap');
 
body {
    background-color: #272727;
    font-family: "Dosis", sans-serif;
	margin:0;
}

/*=====================
NAVBAR
=====================*/
.topnav {
	background-color: #333;
	overflow: hidden;
}

.topnav-links:before {
  border-radius: 50px;
  margin-bottom: 8px;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.topnav-links:hover:before {
	visibility: visible;
	transform: scaleX(1);
  }

.topnav-links {
	position: relative;
  }

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
  
.topnav .icon {
	display: none;
}

@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
  }
  
  @media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}

  } 

/*===================
CONTENT
===================*/

.title {
	color: #FFF;
	font-size: 60px;
	text-align: center;
}

.sub {
	color: rgb(218, 218, 218);
	font-size: 30px;
	text-align: center;
}

.peterimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 170px;
	border-radius: 50%;
}

.links a {
	color: #FFF;
	display: list-item;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.links {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #333;
	padding-right: 10px;
}
hr {
	width: 27%;
	margin-left: 0;
}

@media screen and (max-height: 920px) {

	.links {
	padding-top: 10px;
	position: relative;
	padding-bottom: 10px;
	}
}