body {
  background-color: black;
  color: white;
  font-family: Verdana, sans-serif;
}
a:link {color: #0bc039;}  
a:visited {color: blue}  
a:hover {color: #ffffff}  
a:active {color: #ffffff}

a {
  text-decoration:none;
} 

